%M% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%% ex: ft=erlang ts=4 sw=4 et
%%%
%%% This file is part of mochicown released under the MIT license.
%%% See the NOTICE for more information.

{deps,[
    {barrel, ".*", {git, "git://github.com/benoitc/barrel.git",
                   {tag, "2.1"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git",
                     {tag, "v2.7.0"}}}
]}.
